body{
    background-color: white;
}


/* CSS */
.button-24 {
  background: #16f2e1;
  border: 1px solid #16f2e1;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #16f2e1;
}

.button-24:active {
  opacity: .5;
}

.button-25 {
  background: black;
  border: 1px solid #16f2e1;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #16f2e1;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}
.messu{
  border: 2px solid #16f2e1;
  padding: 5px;
  width: 35px;
  height: auto;
  margin: auto;
  text-align: center;
}
.card{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
}
.contactimage{
  object-fit: cover;
  width: 100%;
  height: 100vh;
}
.form{
  margin-bottom: 100px;
  display: grid;
  background: #16f2e1;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 35px;
  width: 200px;
  height: 75px;


}