body{
    background: #1c1a1a;
}
.semaforo{
    background-color: black;
    height: 55px;
    width: 339px;
    color: white;
}
.tubo{
    background-color: black;
    height: 20px;
    width: 950px;
}
.tuboSombra{
    background-color:  #353839;;
    height: 10px;
    width: 950px;
}
.sema{
    background-color: black;
    height: 80px;
    width: 55px;
    
}
.sombra{
    background-color: #353839;
    height: 70px;
    width: 50px;
    border-radius: 40%;
    position: absolute;
    margin:3px
}

.grey{
    background-color: grey;

}
.red{
    background-color: red;
}
.green{
    
    background-color: green;
    
} 
.light{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: absolute;
    left:0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.greeen{
    background-color: green;
}
.reeed{
    background-color: red;
}
.greeey{
    background-color: grey;
}
.let{
    color: #F8F8F8;
    text-decoration: none;
}
.container{
    top: 160px;
    left: 160px;
    width: 800px;
    min-height: 500px;
    height: auto;
    position: relative;
}
.conta{
    width: auto;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}
.btn1{
    background-color: #9B261F;
    color: white;
}

.background img{
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        width: 100%;
        height: auto;
}
.main{
    margin-top: 195px;
}
.cen{
    align-items: center;
    justify-content: center;
}
.navbartwo{
    background-color: #16f2e1;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}
.racesbox{
    border: 2px solid #16f2e1;
    width: 450px;
    height: 380px;
}